# Project 7 -- Arnav Surve

**TA Help:** N/A
    
**Collaboration:** N/A

## Question 1

In [45]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [46]:
%%bash
head -n1 /anvil/projects/tdm/data/flights/subset/1987.csv >~/INDflights.csv
grep -h ",IND," /anvil/projects/tdm/data/flights/subset/*.csv >>~/INDflights.csv

In [47]:
myDF = pd.read_csv('~/INDflights.csv')

/tmp/ipykernel_16/2939217996.py:1: DtypeWarning: Columns (10,22) have mixed types. Specify dtype option on import or set low_memory=False.
  myDF = pd.read_csv('~/INDflights.csv')

In [48]:
myDF.shape

(1589899, 29)

In [49]:
myDF[myDF['Origin'] == 'IND'].shape

(796496, 29)

In [50]:
myDF[myDF['Dest'] == 'IND'].shape

(793403, 29)

a. cell 48

b. cell 49

c. cell 50

## Question 2

In [8]:
myDF[myDF['Origin'] == 'IND']['Dest'].value_counts().head(20)

Series([], Name: Dest, dtype: int64)

In [9]:
myDF[myDF['Origin'] == 'IND']['UniqueCarrier'].value_counts().head(5)

US    192109
NW    119455
WN     94232
DL     68089
UA     62763
Name: UniqueCarrier, dtype: int64

In [51]:
myDF.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,1987,10,1,4,700.0,700,804.0,755,TW,76,NaN,64.0,55.0,NaN,9.0,0.0,STL,IND,229.0,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,1987,10,2,5,700.0,700,805.0,755,TW,76,NaN,65.0,55.0,NaN,10.0,0.0,STL,IND,229.0,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,1987,10,3,6,659.0,700,757.0,755,TW,76,NaN,58.0,55.0,NaN,2.0,-1.0,STL,IND,229.0,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,1987,10,4,7,700.0,700,756.0,755,TW,76,NaN,56.0,55.0,NaN,1.0,0.0,STL,IND,229.0,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,1987,10,6,2,702.0,700,806.0,755,TW,76,NaN,64.0,55.0,NaN,11.0,2.0,STL,IND,229.0,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [11]:
myDF.tail()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
1589894,2008,4,16,3,1458.0,1500,1635.0,1637,DL,1613,N940DL,97.0,97.0,72.0,-2.0,-2.0,IND,ATL,432.0,7.0,18.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1589895,2008,4,16,3,1334.0,1220,1505.0,1354,DL,1705,N949DL,91.0,94.0,69.0,71.0,74.0,IND,ATL,432.0,10.0,12.0,0,NaN,0,66.0,0.0,0.0,0.0,5.0
1589896,2008,4,16,3,1255.0,1248,1426.0,1419,DL,1756,N940DL,91.0,91.0,66.0,7.0,7.0,ATL,IND,432.0,9.0,16.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1589897,2008,4,17,4,2016.0,2015,2148.0,2148,DL,860,N966DL,92.0,93.0,63.0,0.0,1.0,ATL,IND,432.0,9.0,20.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1589898,2008,4,17,4,958.0,1005,1137.0,1140,DL,962,N924DL,99.0,95.0,62.0,-3.0,-7.0,ATL,IND,432.0,8.0,29.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [12]:
myDF.value_counts()

Series([], dtype: int64)

a. cell 8

b. cell 9

## Question 3

In [16]:
def popularAirports(myDF: pd.DataFrame, airport: str) -> pd.Series:
    return myDF[myDF['Origin'] == airport]['Dest'].value_counts().head(20)

In [17]:
popularAirports(myDF, 'IND')

ORD    77720
DTW    55974
STL    54186
ATL    48975
DFW    36523
MSP    34648
CLT    34199
DEN    29056
PIT    28033
EWR    26795
MDW    26120
MCO    25755
PHL    24492
IAH    24187
CLE    23221
CVG    22698
MEM    21645
DCA    20505
PHX    19628
LGA    18300
Name: Dest, dtype: int64

In [34]:
def popularAirlines(myDF: pd.DataFrame, airport: str) -> pd.Series:
    return myDF[myDF['Origin'] == 'IND']['UniqueCarrier'].value_counts().head(5)

In [20]:
popularAirlines(myDF, 'IND')

Series([], Name: UniqueCarrier, dtype: int64)

a. cell 16

b. cell 19

## Question 4

In [23]:
%%bash
head -n1 /anvil/projects/tdm/data/flights/subset/1987.csv >~/BUFflights.csv
grep -h ",BUF," /anvil/projects/tdm/data/flights/subset/*.csv >>~/BUFflights.csv

In [24]:
myDF = pd.read_csv('~/BUFflights.csv')

/tmp/ipykernel_16/3886677068.py:1: DtypeWarning: Columns (10,22) have mixed types. Specify dtype option on import or set low_memory=False.
  myDF = pd.read_csv('~/BUFflights.csv')

In [36]:
popularAirports(myDF, 'BUF')

ORD    71736
EWR    51712
ATL    37953
LGA    36544
DTW    34581
PHL    29254
BWI    26571
PIT    24493
JFK    18745
CLT    18099
DCA    17086
BOS    15660
CLE    14424
CVG    12850
IAD    10932
MCO     7155
RDU     6669
MSP     6457
ROC     5088
ALB     5012
Name: Dest, dtype: int64

In [52]:
popularAirlines(myDF, 'BUF')

US    192109
NW    119455
WN     94232
DL     68089
UA     62763
Name: UniqueCarrier, dtype: int64

In [53]:
popularAirports(myDF, 'JAX')

IND    4129
Name: Dest, dtype: int64

In [54]:
popularAirlines(myDF, 'JAX')

US    192109
NW    119455
WN     94232
DL     68089
UA     62763
Name: UniqueCarrier, dtype: int64

## Pledge

By submitting this work I hereby pledge that this is my own, personal work. I've acknowledged in the designated place at the top of this file all sources that I used to complete said work, including but not limited to: online resources, books, and electronic communications. I've noted all collaboration with fellow students and/or TA's. I did not copy or plagiarize another's work.

> As a Boilermaker pursuing academic excellence, I pledge to be honest and true in all that I do. Accountable together – We are Purdue.